<div class="menu-button">

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-default">

        <div class="panel-heading center">
          <%= image_tag @pin.image.url(:medium) %>
        </div>

        <div class="panel-body" style="text-align:center">
          <p><%= @pin.title %></p>
          <p style="font-size:80%"><%= @pin.description %>
            <br>
          <%= @pin.location %>
            <br>
          <%= @pin.user.name if @pin.user %></p>

          <% if current_user && (@pin.user == current_user) %>
      			<%= link_to edit_pin_path(@pin) do %>
      				<span class="glyphicon glyphicon-edit"></span>
      				Edit
            <% end %>
  			  <% end %>

    			<%= link_to @pin, method: :delete, data: { confirm: 'Are you sure sire?'} do %>
    				<span class="glyphicon glyphicon-trash"></span>
    				Delete
    			<% end %><br>

          <%= link_to 'Back', pins_path %>
        </div>

      </div>
    </div>
  </div>
  
</div>