<div class="row clearfix">
	<% if event.completed? %>
		<div class="complete">
			<%= link_to complete_bucket_event_path(@bucket, event.id), method: :patch do %>
				<i style="opacity: 0.4;" class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="todo_item">
			<p style="opacity: 0.4;"><strike><%= event.content %></strike></p>
		</div>
		<div class="trash">
			<%= link_to bucket_event_path(@bucket, event.id), method: :delete, data: {confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% else %>
		<div class="complete">
			<%= link_to complete_bucket_event_path(@bucket, event.id), method: :patch do %>
				<i class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="todo_item">
			<p><%= event.content %></p>
		</div>
		<div class="trash">
			<%= link_to bucket_event_path(@bucket, event.id), method: :delete, data: {confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>		
		</div>
	<% end %>